[user]
name = Gordon Pham-Nguyen
email = gordon.pn6@gmail.com

[color]
ui = true

[color "diff"]
whitespace = red reverse

[core]
attributesfile = ~/.gitattributes
autocrlf = input
	editor = nvim
eol = lf
excludesfile = /Users/gordonpn/.gitignore
pager = delta --paging=always
safecrlf = true
# hooksPath = ~/.githooks
# pager = diff-so-fancy | less

[pager]
diff = delta
log = delta
reflog = delta
show = delta

[delta]
# minus-style = "syntax #340001"
# plus-style = "syntax #012800"
# syntax-theme = GitHub
dark = true
features = side-by-side line-numbers decorations
navigate = true

[delta "decorations"]
# commit-decoration-style = bold black box ul
# file-style = bold black ul
# file-decoration-style = none
# hunk-header-decoration-style = black box

[interactive]
diffFilter = delta --color-only

[merge]
# tool = vscode
# ff = false
conflictstyle = zdiff3
log = true

[mergetool "vscode"]
cmd = code --wait $MERGED

[diff]
algorithm = histogram
colorMoved = plain
colorMovedWS = allow-indentation-change
mnemonicPrefix = true
renames = true
# tool = vscode

[difftool "vscode"]
cmd = code --wait --diff $LOCAL $REMOTE

[format]
pretty = fuller

[log]
date = iso

[tag]
sort = version:refname

[apply]
whitespace = fix

[credential]
helper = osxkeychain

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true

[hub]
protocol = https
[url "https://"]
insteadOf = git://

[difftool]
prompt = false

[diff-so-fancy]
changeHunkIndicators = true
markEmptyLines = false
rulerWidth = 80
stripLeadingSymbols = true

[pull]
rebase = true
ff = only

[rebase]
autoStash = true
autosquash = true
updateRefs = true

[rerere]
enabled = true
autoUpdate = true

[commit]
cleanup = strip
verbose = true

[init]
defaultBranch = main

[mergetool]
prompt = false

[push]
autoSetupRemote = true
default = simple
followTags = true

[fetch]
prune = true
pruneTags = true
all = true

[include]
path = /Users/gordonpn/workspace/delta/themes.gitconfig

[branch]
autoSetupMerge = always
sort = -committerdate

[status]
showUntrackedFiles = all

[help]
autocorrect = prompt

