source ~/.vimrc

set anyobject
set argtextobj
set commentary
set easymotion
set exchange
set functiontextobj
set ideajoin
set matchit
set mini-ai
set quickscope
set sneak
set surround
set textobj-entire
set textobj-indent
set vim-paragraph-motion

" nmap s <Action>(flash.search)
" xmap s <Action>(flash.search)
map <leader>s <Action>(flash.search)

